.gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 50px 0;
    background-color: #f6f6f6;
    @media (max-width: 991px){
        padding: 10px 20px 20px 20px;
    }
    &__wrapper{
        width: 100%;
        max-width: 1010px;
        position: relative;
        &__slide{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}