.intro{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: -40px;
    @media (max-width: 991px){
        margin-top: -30px;
    }
    &__locale{
        overflow: hidden;
    }
    .background{    
        width: 100%;
        height: 60vh;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px){
            height: 35vh;
        }
        &.small{
            height: auto;
            margin-top: 200px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 4;
            background-image: linear-gradient(180deg,hsla(0,0%,45.9%,.25098),rgba(0,0,0,.788235));
        }
    }
    .titleSection{
        width: 100%;
        max-width: 1150px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        position: relative;
        z-index: 4;
        padding: 0 20px;
        h1{
            color: white;
        }
        &__locale{
            margin-top: -150px;
        }
    }
    .content{
        &__details{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
        }
    }
    .copy{
        width: 100%;
        max-width: 1150px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: -170px;
        position: relative;
        z-index: 5;
        @media all and (max-width: 768px) {  
            margin-top: 0px;
        }
        h1{
            letter-spacing: 3.29px;
            text-align: center;
            color: #fff;
            margin-bottom: 50px;
            text-shadow: 0px 0px 21px #000000;
            position: relative;
            @media all and (max-width: 768px) {  
                letter-spacing: 0.34px;
                text-align: center;
            }
        }
        .content{
            background: white;
            padding: 50px 70px 0 70px;
            @media all and (max-width: 768px) {  
                padding: 30px 20px 0 20px;
                margin-top: 0;
            }
        }
    }

    &.noCover{
        .background{
            display: none;
        }
        .content{
            background: white;
            padding: 50px 0 0 0;
            @media all and (max-width: 768px) {  
                padding: 30px 20px 0 20px;
                margin-top: 0;
            }
        }

        .copy{
            margin-top: 0px;
            @media all and (max-width: 768px) {  
                margin-top: 0;
            }
            h1{
                margin-top: 50px;
                margin-bottom: 0;
                text-shadow: none;
                color: #222831;
                @media all and (max-width: 768px) {  
                    margin-top: 0;
                }
            }
        }
    }
}

.price{
    font-weight: 600;
    font-size: 20px;
    margin: 5px 0;
    letter-spacing: 0.1em;
}
.type{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 5px 0;
}
.address{
    letter-spacing: 0.1em;
    margin: 5px 0;
}