.summary{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px 0;
    @media (max-width: 991px){
        padding: 30px 20px 20px 20px;
    }
    @media (min-width: 992px){
        display: none;
    }
    &__wrap{
        width: 100%;
        max-width: 1010px;
        position: relative;
    }
}