.hero {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -40px;
}

@media (max-width: 991px) {
  .hero {
    margin-top: -30px;
  }
}

.hero .background {
  width: 100%;
  height: 60vh;
}

@media (max-width: 991px) {
  .hero .background {
    height: 30vh;
  }
}

.hero .copy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 3;
}

.hero .copy p {
  font-size: 60px;
  line-height: 1;
  color: white;
  text-align: center;
}

@media (max-width: 991px) {
  .hero .copy p {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.hero .copy strong {
  font-weight: 700;
}

.hero .copy .logo {
  max-width: 210px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .hero .copy .logo {
    display: none;
  }
}

.hero .navigation {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 700px;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .hero .navigation {
    margin-top: 20px;
  }
}

.hero .navigation a {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  border: 0.9px solid #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  text-decoration: none;
}

@media (max-width: 991px) {
  .hero .navigation a {
    width: 100px;
    height: 100px;
  }
}

.hero .navigation a:hover {
  transform: scale(1.1);
}

.hero .navigation a:before {
  content: "";
  position: absolute;
  border-image-source: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 17%, rgba(255, 255, 255, 0) 95%);
  border-image-slice: 1;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.21) 14%, rgba(255, 255, 255, 0) 95%), linear-gradient(135deg, rgba(255, 255, 255, 0.5) 17%, rgba(255, 255, 255, 0) 95%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: 1;
}

.hero .navigation figure {
  width: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .hero .navigation figure {
    width: 25px;
  }
}

.hero .navigation figure .icon {
  width: auto;
  max-width: 100%;
}

@media (max-width: 991px) {
  .hero .navigation figure .icon {
    max-height: 25px;
  }
}

.hero .navigation span {
  font-size: 13.7px;
  letter-spacing: .49px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
}

@media (max-width: 991px) {
  .hero .navigation span {
    font-size: 11px;
  }
}
