@charset "UTF-8";
html,
body {
  font-family: "Nunito", sans-serif;
  font-size: 100%;
}

html *,
body * {
  box-sizing: border-box;
}

@media (max-width: 639px) {
  html,
  body {
    font-size: 80%;
  }
}

html .baround,
body .baround {
  padding-top: 100px;
}

@media (max-width: 991px) {
  html .baround,
  body .baround {
    padding-top: 80px;
  }
}

.baloonMap {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}

.baloonMap figure {
  width: 100%;
  height: 100%;
  max-height: 160px;
  overflow: hidden;
  position: relative;
}

.baloonMap figure a {
  display: flex;
  width: 100%;
  height: auto;
}

.baloonMap figure a img {
  width: 100%;
  height: auto;
}

.baloonMap figure .price {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 5px 15px;
  font-weight: 800;
  background: #222831;
}

.baloonMap figure .price span {
  font-size: 20px;
}

.baloonMap h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.baloonMap h2 a {
  text-decoration: none;
  color: #222831;
}

.baloonMap .cta {
  color: #222831;
  font-size: 14px;
  font-weight: 800;
  margin: 5px 0;
  display: flex;
}

.ctaLocator {
  border: 1px solid white;
  background: transparent;
  font-family: "Nunito", sans-serif;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.63px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.ctaLocator:hover {
  background-color: white;
  color: #222831;
}

.fullscreen {
  max-width: 100% !important;
}

.contentText.introSection p:first-child:first-letter {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: normal;
  line-height: 0.7em;
  letter-spacing: 5.56px;
  color: #222831;
  float: left;
  margin-right: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: auto;
  color: #222831;
  margin-bottom: 30px;
}

h1 {
  margin-top: 0;
  font-size: 2.86rem;
}

@media (max-width: 639px) {
  h1 {
    font-size: 2.46rem;
  }
}

h2 {
  font-size: 2.441rem;
}

@media (max-width: 639px) {
  h2 {
    font-size: 2.26rem;
  }
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  color: #222831;
  text-decoration: underline;
}

p {
  letter-spacing: 0.3px;
  color: #222831;
  line-height: 1.7em;
  padding-bottom: 30px;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  p {
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 1px;
    color: #222831;
  }
}

blockquote {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
  padding-left: 50px;
  position: relative;
  quotes: "„" "“" "‚" "‘";
}

blockquote::after {
  position: absolute;
  content: "“";
  left: 0;
  top: -15px;
  color: #ccc;
  font-size: 100px;
}

blockquote p {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.31;
}

blockquote p:first-child:first-letter {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.31;
  float: none;
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal-leading-zero;
}

ul,
ol {
  line-height: 1.5em;
  margin-bottom: 30px;
  padding-left: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #222831;
}

ul li,
ol li {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.7em;
}

@media (max-width: 639px) {
  .gallery .swiper {
    padding-right: 0% !important;
  }
}

.gallery .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.share--white {
  padding: 20px !important;
}

@media (max-width: 991px) {
  .share--white {
    padding: 10px !important;
  }
}

.share--white h5 {
  color: white !important;
}

#itinerari .itinerari__row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 991px) {
  #itinerari .itinerari__row {
    padding: 20px 0;
  }
}

#itinerari .itinerari__row__wrap {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32%);
  justify-content: space-between;
  grid-gap: 20px;
}

@media (max-width: 991px) {
  #itinerari .itinerari__row__wrap {
    padding: 0 20px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

.scrollTrigger {
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: -20vh;
  top: 0;
}

#sectionMap .locali__map__mapWrap__map {
  height: calc(100vh - 110px);
  margin-top: -40px;
}

@media (max-width: 991px) {
  #sectionMap .locali__map__mapWrap__map {
    margin-top: -30px;
    height: calc(100vh - 100px);
  }
}
